/* (c) Davis Haupt licenced under MIT license */

/* Element Divs */

.period {
  /* Grid elements */
  width:150;
  height:70;
  background-color: #66CD00;
  border-radius: 7px;
}
.day {
  margin: auto;
  font-family: monospace;
}


/* Divs within the boxes*/
.letter {
  /*color: #7E7F7E;*/

  font-family: monospace;
  /*font-size: 20px;*/

  margin-left: 5px;
  padding-top: 25px;

  word-wrap: break-word;
  width: 20px;
}

.close {
  font-family: monospace;
  font-size: 15px;

  /*padding-left: 185px;*/
  padding-top: 5px;
}

#prev {
  padding-top: 305px;
  float: left;
}

#next {
  padding-top: 305px;
  float: left;
}





/* Upcoming Test */
span.high {
  color: red;
}
/* Upcoming Quiz */
span.mid {
  color: blue;
}
/* Due Date for long-term assignment */
span.low {
  color: green;
}
/* Lab with Teacher */
span.lab {
  color: orange;
}


/* Container Divs */

/* Schedule, with buttons */
.planner {
  float: left;
  position: relative;

}
/* Just the Schedule */
.schedule {
  padding: 25px;
  float: left;
  position: relative;
}
.sidebar {
  float: left;
  margin-top: 45px;
  margin-left: 50px;

  height: 587px;
  
  border: 1px solid black;
  border-radius: 7px;
}

.sidebarContents {
  overflow-y: auto;
  height: 565px;
}

#filters {
  width: 100%;
}

/* Element Styling */
textarea {
  width: 90%;
  height: 86%;
  margin-left: 10px;

  /* Make the TA itself invisible */
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
}

a:visited {
  color:black;
}

