/* (c) Davis Haupt licenced under MIT license */

/* Element Divs */

.period {
  /* Grid elements */
  width:150;
  height:70;
  background-color: #66CD00;
  border-radius: 7px;
}
.day {
  margin: auto;
  font-family: monospace;
}


/* Divs within the boxes*/
.letter {
  color: #7E7F7E;

  font-family: monospace;
  font-size: 20px;

  margin-left: 10px;
  padding-top: 25px;

  width: 20px;
}

.close {
  font-family: monospace;
  font-size: 15px;

  /*padding-left: 185px;*/
  padding-top: 5px;
}


span.test {
  color: red;
}

span.quiz {
  color: blue;
}

span.due {
  color: green;
}

/* Container Divs */
.schedule {
  padding: 25px;
  padding-left: 100px;
  /*padding-right: auto;*/
  float: left;
}
.sidebar {
  float: right;
  margin-top: 45px;
  margin-right: 100;

  
  /*padding-right: 100px;*/
  /*padding-left: 50px;*/

  height: 587px;
  width: 200;


  border: 1px solid black;
  border-radius: 7px;
}

#filters {
  width: 100%;
}

/* Element Styling */
textarea {
  width: 90%;
  height: 86%;
  margin-left: 10px;

  /* Make the TA itself invisible */
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
}

a:visited {
  color:black;
}

