{% extends "base.html" %}

{% block container %}
<form method="post">
    <table>
          <tr>
            <td>Username</td>
            <td><input type="text" name="username" value="{{username}}"></td>
          </tr>

          <tr>
            <td>Password</td>
            <td><input type="password" name="password" value=""></td>
          
    <td class="error" style="color: red;">
      {{error_correct}}
    </td>
    </tr>
      <tr><td><input type="submit"></td></tr>
    </table>
</form>
{% endblock %}

