<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Planbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Planner</a>
          <div class="nav-collapse">
            <ul class="nav"><li><a href="/">Home</a></li></ul>
            <ul class="nav pull-right">
              {% if user %}
              <li><a href="#">{{user.username}}</a></li>
              <li><a href="/logout">Logout</a></li>
              {% else %}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
              {% endif %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

	<style type="text/css">

		textarea {
			height: 80px;
      width: 150px;
		}


		.subj {
  			margin-top: 100px;
  			margin-right: 24px;
  			margin-bottom: 90px;
  			}


		.day {
  			padding: 72px;
  		}


	</style>



   <div class="span11">
    <div id="assignments">
    <div class = "row-fluid">
      <span class="span1" id="date">{{assignments["date"]}}</span>
      <span class='span2'>Monday</span>
      <span class='span2'>Tuesday</span>
      <span class='span2'>Wednesday</span>
      <span class='span2'>Thursday</span>
      <span class='span2'>Friday</span>
    </div>


    <div class='row-fluid' id="eng">
    
    <span class="span1"><br>English</span>
    <span class="span2"><textarea id="mondayeng">{{assignments["mondayeng"]}}</textarea> </span>
    <span class="span2"><textarea id="tuesdayeng">{{assignments["tuesdayeng"]}}</textarea> </span>
    <span class="span2"><textarea id="wednesdayeng">{{assignments["wednesdayeng"]}}</textarea> </span>
    <span class="span2"><textarea id="thursdayeng">{{assignments["thursdayeng"]}}</textarea> </span>
    <span class="span2"><textarea id="fridayeng">{{assignments["fridayeng"]}}</textarea> </span>
    </div>
    <div class='row-fluid' id="hist">
      <span class="span1"><br>History</span>
    <span class="span2"> <textarea id="mondayhist">{{assignments["mondayhist"]}}</textarea> </span>
    <span class="span2"> <textarea id="tuesdayhist">{{assignments["tuesdayhist"]}}</textarea> </span>
    <span class="span2"> <textarea id="wednesdayhist">{{assignments["wednesdayhist"]}}</textarea> </span>
   <span class="span2"> <textarea id="thursdayhist">{{assignments["thursdayhist"]}}</textarea> </span>
   <span class="span2"> <textarea id="fridayhist">{{assignments["fridayhist"]}}</textarea> </span>
    </div>

    <div class="row-fluid" id="math">
      <span class="span1"><br>Math</span>
      <span class="span2"><textarea id="mondaymath">{{assignments["mondaymath"]}}</textarea> </span>
      <span class="span2"> <textarea id="tuesdaymath">{{assignments["tuesdaymath"]}}</textarea> </span>
      <span class="span2"> <textarea id="wednesdaymath">{{assignments["wednesdaymath"]}}</textarea> </span>
      <span class="span2"><textarea id="thursdaymath">{{assignments["thursdaymath"]}}</textarea> </span>
      <span class="span2"><textarea id="fridaymath">{{assignments["fridaymath"]}}</textarea> </span>
    </div>

    <div class="row-fluid" id="sci">
      <span class="span1"><br>Science</span>
      <span class="span2"><textarea id="mondaysci">{{assignments["mondaysci"]}}</textarea> </span>
      <span class="span2"><textarea id="tuesdaysci">{{assignments["tuesdaysci"]}}</textarea> </span>
      <span class="span2"><textarea id="wednesdaysci">{{assignments["wednesdaysci"]}}</textarea> </span>
      <span class="span2"><textarea id="thursdaysci">{{assignments["thursdaysci"]}}</textarea> </span>
      <span class="span2"><textarea id="fridaysci">{{assignments["fridaysci"]}}</textarea> </span>
    </div>

    <div class="row-fluid" id="lang">
      <span class="span1"><br>Language</span>
      <span class="span2"><textarea id="mondaylang">{{assignments["mondaylang"]}}</textarea> </span>
      <span class="span2"><textarea id="tuesdaylang">{{assignments["tuesdaylang"]}}</textarea> </span>
      <span class="span2"><textarea id="wednesdaylang">{{assignments["wednesdaylang"]}}</textarea> </span>
      <span class="span2"><textarea id="thursdaylang">{{assignments["thursdaylang"]}}</textarea> </span>
      <span class="span2"><textarea id="fridaylang">{{assignments["fridaylang"]}}</textarea> </span>
    </div>
    
    <div class="row-fluid" id="other">
      <span class="span1"><br>Other</span>
      <span class="span2"><textarea id="mondayother">{{assignments["mondayother"]}}</textarea> </span>
      <span class="span2"><textarea id="tuesdayother">{{assignments["tuesdayother"]}}</textarea> </span>
      <span class="span2"><textarea id="wednesdayother">{{assignments["wednesdayother"]}}</textarea> </span>
      <span class="span2"><textarea id="thursdayother">{{assignments["thursdayother"]}}</textarea> </span>
      <span class="span2"><textarea id="fridayother">{{assignments["fridayother"]}}</textarea> </span>
    </div>
    
    <div class="row-fluid" id="notes">
      <span class="span1"><br>Notes</span>
      <span class="span2"> <textarea id="notes">{{assignments["notes"]}}</textarea></span>
    </div>

	<div class="row-fluid">
    <span class="span1 offset6">
      <div class="btn-group">
        <button class="btn" id="back"> &lt;&lt;</button>
        <button class="btn" id="save"> Save </button>
        <button class="btn" id="next"> &gt;&gt;</button>
      </div>
    </span>
	</div>
</div>
	</div> <!--/row -->
    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
      
              $('#save').click(function() {
                
                $.ajax({
                  dataType: "json",
                  data: {'mondayeng': $("textarea#mondayeng").val(), 'tuesdayeng': $("textarea#tuesdayeng").val(), 'wednesdayeng': $("textarea#wednesdayeng").val(), 'thursdayeng': $("textarea#thursdayeng").val(), 'fridayeng': $("textarea#fridayeng").val(), 
                    'mondayhist': $("textarea#mondayhist").val(), 'tuesdayhist': $("textarea#tuesdayhist").val(), 'wednesdayhist': $("textarea#wednesdayhist").val(), 'thursdayhist': $("textarea#thursdayhist").val(), 'fridayhist': $("textarea#fridayhist").val(), 
                    'mondaymath': $("textarea#mondaymath").val(), 'tuesdaymath': $("textarea#tuesdaymath").val(), 'wednesdaymath': $("textarea#wednesdaymath").val(), 'thursdaymath': $("textarea#thursdaymath").val(), 'fridaymath': $("textarea#fridaymath").val(), 
                    'mondaysci': $("textarea#mondaysci").val(), 'tuesdaysci': $("textarea#tuesdaysci").val(), 'wednesdaysci': $("textarea#wednesdaysci").val(), 'thursdaysci': $("textarea#thursdaysci").val(), 'fridaysci': $("textarea#fridaysci").val(), 
                    'mondaylang': $("textarea#mondaylang").val(), 'tuesdaylang': $("textarea#tuesdaylang").val(), 'wednesdaylang': $("textarea#wednesdaylang").val(), 'thursdaylang': $("textarea#thursdaylang").val(), 'fridaylang': $("textarea#fridaylang").val(), 
                    'mondayother': $("textarea#mondayother").val(), 'tuesdayother': $("textarea#tuesdayother").val(), 'wednesdayother': $("textarea#wednesdayother").val(), 'thursdayother': $("textarea#thursdayother").val(), 'fridayother': $("textarea#fridayother").val(), 
                    'notes': $("textarea#notes").val(),
                    'action': "save", 'date': $("span#date").val()
                  },
                  type: "POST",

                  success: function(data) {
                    $("span#date").text(data['date']);
                    //delete data['date']
                    $("#assignments").find("textarea").each(function() {
                      $(this).text(data[$(this).attr("id")]);
                    });
                  } 
      
                });
              });

              $("#back").click(function() {
                $.ajax({
                  dataType: "json",
                  data: {'mondayeng': $("textarea#mondayeng").val(), 'tuesdayeng': $("textarea#tuesdayeng").val(), 'wednesdayeng': $("textarea#wednesdayeng").val(), 'thursdayeng': $("textarea#thursdayeng").val(), 'fridayeng': $("textarea#fridayeng").val(), 
                    'mondayhist': $("textarea#mondayhist").val(), 'tuesdayhist': $("textarea#tuesdayhist").val(), 'wednesdayhist': $("textarea#wednesdayhist").val(), 'thursdayhist': $("textarea#thursdayhist").val(), 'fridayhist': $("textarea#fridayhist").val(), 
                    'mondaymath': $("textarea#mondaymath").val(), 'tuesdaymath': $("textarea#tuesdaymath").val(), 'wednesdaymath': $("textarea#wednesdaymath").val(), 'thursdaymath': $("textarea#thursdaymath").val(), 'fridaymath': $("textarea#fridaymath").val(), 
                    'mondaysci': $("textarea#mondaysci").val(), 'tuesdaysci': $("textarea#tuesdaysci").val(), 'wednesdaysci': $("textarea#wednesdaysci").val(), 'thursdaysci': $("textarea#thursdaysci").val(), 'fridaysci': $("textarea#fridaysci").val(), 
                    'mondaylang': $("textarea#mondaylang").val(), 'tuesdaylang': $("textarea#tuesdaylang").val(), 'wednesdaylang': $("textarea#wednesdaylang").val(), 'thursdaylang': $("textarea#thursdaylang").val(), 'fridaylang': $("textarea#fridaylang").val(), 
                    'mondayother': $("textarea#mondayother").val(), 'tuesdayother': $("textarea#tuesdayother").val(), 'wednesdayother': $("textarea#wednesdayother").val(), 'thursdayother': $("textarea#thursdayother").val(), 'fridayother': $("textarea#fridayother").val(), 
                    'notes': $("textarea#notes").val(),
                    'action': "back", 'date': $("span#date").val()
                  },
                  type: "POST",

                  success: function(data) {
                    $("span#date").text(data['date']);
                    //delete data['date']
                    $("#assignments").find("textarea").each(function() {
                      $(this).text(data[$(this).attr("id")]);
                    });
                  } 
      
                });
              });

              $("#next").click(function() {
                $.ajax({
                  dataType: "json",
                  data: {'mondayeng': $("textarea#mondayeng").val(), 'tuesdayeng': $("textarea#tuesdayeng").val(), 'wednesdayeng': $("textarea#wednesdayeng").val(), 'thursdayeng': $("textarea#thursdayeng").val(), 'fridayeng': $("textarea#fridayeng").val(), 
                    'mondayhist': $("textarea#mondayhist").val(), 'tuesdayhist': $("textarea#tuesdayhist").val(), 'wednesdayhist': $("textarea#wednesdayhist").val(), 'thursdayhist': $("textarea#thursdayhist").val(), 'fridayhist': $("textarea#fridayhist").val(), 
                    'mondaymath': $("textarea#mondaymath").val(), 'tuesdaymath': $("textarea#tuesdaymath").val(), 'wednesdaymath': $("textarea#wednesdaymath").val(), 'thursdaymath': $("textarea#thursdaymath").val(), 'fridaymath': $("textarea#fridaymath").val(), 
                    'mondaysci': $("textarea#mondaysci").val(), 'tuesdaysci': $("textarea#tuesdaysci").val(), 'wednesdaysci': $("textarea#wednesdaysci").val(), 'thursdaysci': $("textarea#thursdaysci").val(), 'fridaysci': $("textarea#fridaysci").val(), 
                    'mondaylang': $("textarea#mondaylang").val(), 'tuesdaylang': $("textarea#tuesdaylang").val(), 'wednesdaylang': $("textarea#wednesdaylang").val(), 'thursdaylang': $("textarea#thursdaylang").val(), 'fridaylang': $("textarea#fridaylang").val(), 
                    'mondayother': $("textarea#mondayother").val(), 'tuesdayother': $("textarea#tuesdayother").val(), 'wednesdayother': $("textarea#wednesdayother").val(), 'thursdayother': $("textarea#thursdayother").val(), 'fridayother': $("textarea#fridayother").val(), 
                    'notes': $("textarea#notes").val(),
                    'action': "next", 'date': $("span#date").val()
                  },
                  type: "POST",

                  success: function(data) {
                    $("span#date").text(data['date']);
                    //delete data['date']
                    $("#assignments").find("textarea").each(function() {
                      $(this).text(data[$(this).attr("id")]);
                    });
                  } 
      
                });
              });
        
    </script>

  </body>
</html>
