{% extends "base.html" %}

{% block container %}
  <style type="text/css">

    textarea {
      height: 80px;
      width: 150px;
    }


    .subj {
        margin-top: 100px;
        margin-right: 24px;
        margin-bottom: 90px;
        }


    .day {
        padding: 72px;
      }


  </style>



   <div class="span11">
    <div id="assignments">
    <div class = "row-fluid">
      <span class="span1" id="date">/span>
      <span class='span2'>Monday</span>
      <span class='span2'>Tuesday</span>
      <span class='span2'>Wednesday</span>
      <span class='span2'>Thursday</span>
      <span class='span2'>Friday</span>
    </div>


    <div class='row-fluid' id="eng">
    
    <span class="span1"><br>English</span>
    <span class="span2"><textarea id="mondayeng"></textarea> </span>
    <span class="span2"><textarea id="tuesdayeng"></textarea> </span>
    <span class="span2"><textarea id="wednesdayeng"></textarea> </span>
    <span class="span2"><textarea id="thursdayeng"></textarea> </span>
    <span class="span2"><textarea id="fridayeng"></textarea> </span>
    </div>
    <div class='row-fluid' id="hist">
      <span class="span1"><br>History</span>
    <span class="span2"> <textarea id="mondayhist"></textarea> </span>
    <span class="span2"> <textarea id="tuesdayhist"></textarea> </span>
    <span class="span2"> <textarea id="wednesdayhist"></textarea> </span>
   <span class="span2"> <textarea id="thursdayhist"></textarea> </span>
   <span class="span2"> <textarea id="fridayhist"></textarea> </span>
    </div>

    <div class="row-fluid" id="math">
      <span class="span1"><br>Math</span>
      <span class="span2"><textarea id="mondaymath"></textarea> </span>
      <span class="span2"> <textarea id="tuesdaymath"></textarea> </span>
      <span class="span2"> <textarea id="wednesdaymath"></textarea> </span>
      <span class="span2"><textarea id="thursdaymath"></textarea> </span>
      <span class="span2"><textarea id="fridaymath"></textarea> </span>
    </div>

    <div class="row-fluid" id="sci">
      <span class="span1"><br>Science</span>
      <span class="span2"><textarea id="mondaysci"></textarea> </span>
      <span class="span2"><textarea id="tuesdaysci"></textarea> </span>
      <span class="span2"><textarea id="wednesdaysci"></textarea> </span>
      <span class="span2"><textarea id="thursdaysci"></textarea> </span>
      <span class="span2"><textarea id="fridaysci"></textarea> </span>
    </div>

    <div class="row-fluid" id="lang">
      <span class="span1"><br>Language</span>
      <span class="span2"><textarea id="mondaylang"></textarea> </span>
      <span class="span2"><textarea id="tuesdaylang"></textarea> </span>
      <span class="span2"><textarea id="wednesdaylang"></textarea> </span>
      <span class="span2"><textarea id="thursdaylang"></textarea> </span>
      <span class="span2"><textarea id="fridaylang"></textarea> </span>
    </div>
    
    <div class="row-fluid" id="other">
      <span class="span1"><br>Other</span>
      <span class="span2"><textarea id="mondayother"></textarea> </span>
      <span class="span2"><textarea id="tuesdayother"></textarea> </span>
      <span class="span2"><textarea id="wednesdayother"></textarea> </span>
      <span class="span2"><textarea id="thursdayother"></textarea> </span>
      <span class="span2"><textarea id="fridayother"></textarea> </span>
    </div>
    
    <div class="row-fluid" id="notes">
      <span class="span1"><br>Notes</span>
      <span class="span2"> <textarea id="notes"></textarea></span>
      <span class="span1 offset2">
        <div class="btn-group">
          <button class="btn btn-large" id="back"> <i class="icon-chevron-left"> </i></button>
          <button class="btn btn-large" id="save"><i class="icon-ok"></i> </button>
          <button class="btn btn-large" id="next"> <i class="icon-chevron-right"> </i></button>
        </div>
        <div style="padding-left: 40px;">
          <button class = "btn btn-small"><span id="bottom_date"> </span></button>
        </div>
    </span>
    </div>


  </div>
</div> <!--/row -->
{% endblock %}

{% block javascript %}
<script src="assets/js/planner-buttons.js"></script>
{% endblock %}