{% extends "base.html" %}

{% block container %}

      <form method="post">
        <table>
          <tr>
            <td>Username</td>
            <td><input type="text" name="username" value="{{username}}"> </td> <span class="error">{{error_username}}</span>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password"> </td> <span class="error">{{error_password}}</span>
          </tr>
          <tr>
            <td>Verify Password</td>
            <td><input type="password" name="verify"></td> <span class="error">{{error_verify}}</span>
          </tr>

          <tr>
            <td>Email</td>
            <td><input type="text" name="email" value="{{email}}"></td> <span class="error">{{error_email}}</span>
          </tr>
        </table>
        <input type="submit">
      </form>

{% endblock %}